.navbar {
  /* border: 1px solid red; */
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  list-style-type: none;
  text-decoration: none;

  top: 0%;
  width: 100%;

  background-color: #1b3355;
}

.navbar-auth {
  padding: 1rem;
  list-style-type: none;
  text-decoration: none;
  position: absolute;
  width: 200px;
  height: 93vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: #1d2633;
  border: 1px solid black;
}

.navitem {
  margin: 1rem 2rem;
}

.link:hover {
  color: rgb(255, 118, 69);
}

.link {
  font-size: 1.2rem;
  text-decoration: none;
  color: white;
  transition: all 1s;
}

.buttons {
  color: #3d1b75;
  line-height: 18px;
  padding: 8px;
  font-family: Georgia, serif;
  display: inline-block;
}

.buttons:hover {
  background: #1c6ea4;
}

.buttons:active {
  background: #144e75;
}

.profile {
  color: white;
  font-size: 2rem;
}
