.wrapper {
  /* border: 1px solid red; */
  height: 80vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.heading-p1 {
  color: #fe4b4b;
  font-size: 5rem;
  margin: 5rem 2rem;
}

.heading-p2 {
  /* border: 1px solid blue; */
  color: #fe4b4b;
  font-size: 5rem;
  position: relative;
  bottom: -4rem;
}

.row2 {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.action {
  font-size: 3rem;
}

.action-btn {
  width: 20rem;
  cursor: pointer;
  transition: all 0.5s;
  outline: none;
  background-color: #fe4b4b;
  margin-left: -0.1rem;
  border: none;
}

.action-btn:hover {
  background-color: #e63838;
  color: rgb(238, 234, 234);
}

.pictures {
  width: 200px;
}

.info {
  color: rgb(228, 228, 228);
  display: flex;
  flex-direction: column;
  margin: 22rem 7rem 0rem 10rem;
}
