.a {
  border: 1px solid red;
}

.b {
  border: 1px solid blue;
}

.row {
  display: flex;
  height: 50vh;
}

.row2 {
  display: flex;
  justify-content: space-between;
  height: 50vh;
  margin: 200px;
}
