.my {
  color: #fe4b4b;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 5em;
  padding-top: 0.25em;
  padding-left: 0.25em;
}

.fam {
  color: #fe4b4b;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 5em;
  transform: translateX(50%);
  padding-left: 0.25em;
}

.googlelogin {
  display: flex;
  justify-content: flex-end;
  padding: 0.1em;
}

.playlisttext {
  color: white;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: bold;
  font-size: 1.5em;
  padding: 2em;
  display: flex;
  justify-content: center;
}

.horizflex {
  display: flex;
  justify-content: space-between;
}

.vertiflex {
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
}

.vertiflexC {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.introtext {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: white;
  font-size: 1em;
  width: 20em;
  text-align: center;
  padding-left: 4em;
}

.playlisttheme {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: white;
  font-size: 1em;
  padding: 1.5em;
  display: flex;
  justify-content: center;
}

.formtext {
  color: white;
  padding-right: 0.2em;
}

.space {
  padding: 2em;
}

.wrapper {
  margin-left: 12rem;
}
