.container {
  justify-content: center;
  align-items: center;
}

.centered-content2 {
}

.about-title {
  font-size: 5rem;
  color: rgb(241, 110, 63);
}

.highlight {
  color: rgb(253, 131, 87);
}

.about-content {
  width: 50rem;
  color: rgb(223, 223, 223);
  font-size: 1.5rem;
}
